<nav class="navbar navbar-expand-lg gw-navbar {{NAV_CLASS}} fixed-top" id="gwNav">
  <div class="container-xl">
    <a class="navbar-brand py-0 d-flex align-items-center" href="{{BASE}}index.html">
      <img src="{{BASE}}assets/logo.png" alt="globalways" class="gw-logo gw-logo-default">
      <img src="{{BASE}}assets/logo-white.png" alt="globalways" class="gw-logo gw-logo-on-dark">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 gap-lg-1">
        <li class="nav-item"><a class="nav-link" href="{{BASE}}services.html">Services</a></li>
        <li class="nav-item"><a class="nav-link" href="{{BASE}}vendors.html">Vendors</a></li>
        <li class="nav-item"><a class="nav-link" href="{{BASE}}pricing.html">Pricing</a></li>
        <li class="nav-item"><a class="nav-link" href="{{BASE}}how-it-works.html">How It Works</a></li>
        <li class="nav-item"><a class="nav-link" href="{{BASE}}blog.html">Insights</a></li>
        <li class="nav-item"><a class="nav-link" href="{{BASE}}about.html">About</a></li>
      </ul>
      <div class="d-flex align-items-center gap-2 navbar-actions">
        <a href="{{BASE}}login.html" class="btn btn-signin rounded-pill px-4">Sign In</a>
        <a href="{{BASE}}register.html" class="btn btn-gw-blue px-4">Get Started Free</a>
      </div>
    </div>
  </div>
</nav>
